form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
}
#enviar{
    width: 70px;
    background-color: aqua;
    
}
#enviar:hover{
    background-color: blue;
    width: 50px;
}
.border{
    border-radius: 5px;
}